<template>
  <div>
    <div
      ref="playerRef"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  onUnmounted,
} from 'vue';
import {
  LogLevel,
  Player,
  type PlayerAPI,
} from 'bitmovin-player';
import { UIFactory } from 'bitmovin-player-ui';
import { createLicenseToken, prepareCertificate } from '@/utils';
import { FAIR_PLAY_CERT_URL, LICENSE_URL, DEFAULT_VIDEO_URL } from '@/constants';

import 'bitmovin-player-ui/dist/css/bitmovinplayer-ui.min.css';

export type VideoPlayer = PlayerAPI;

const BITMOVIN_LICENSE = 'b9b1ab14-22e6-46ba-a5f2-2afd33a61f4f';

export default defineComponent({
  name: 'BitmovinPlayerView',
  setup() {
    const playerRef = ref<HTMLElement | null>(null);

    let player: VideoPlayer;
    onMounted(async () => {
      player = new Player(playerRef.value!, {
        key: BITMOVIN_LICENSE,
        logs: {
          level: LogLevel.DEBUG,
        },
        playback: {
          muted: true,
          autoplay: true,
        },
        ui: false,
      });
      UIFactory.buildDefaultUI(player);

      const { data } = await createLicenseToken({ videoUrl: DEFAULT_VIDEO_URL });
      const source = {
        // dash: DEFAULT_VIDEO_URL,
        hls: DEFAULT_VIDEO_URL,
        drm: {
          // widevine: {
          //   LA_URL: LICENSE_URL,
          //   headers: {
          //     'pallycon-customdata-v2': widevineToken,
          //   },
          // },
          fairplay: {
            LA_URL: LICENSE_URL,
            certificateURL: FAIR_PLAY_CERT_URL,
            headers: {
              'pallycon-customdata-v2': data.token,
            },
            prepareContentId(contentId: string) {
              return contentId.substring(contentId.indexOf('skd://') + 6);
            },
            prepareCertificate,
            useUint16InitData: true,
          },
        },
      };

      await player.load(source);
      console.log('Successfully loaded source');
    });

    onUnmounted(() => {
      player?.destroy();
    });

    return {
      playerRef,
    };
  },
});
</script>

<style>
</style>
