<template>
  <div>
    <div id="player" />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
} from 'vue';
import { createLicenseToken, extractContentId, prepareCertificate } from '@/utils';
import { FAIR_PLAY_CERT_URL, LICENSE_URL, DEFAULT_VIDEO_URL } from '@/constants';

export type VideoPlayer = InstanceType<typeof RadiantMP>;

const RADIANT_MEDIA_LICENSE = 'Y21lc2lxYWFlcSEqXyVpejc5MDc9ZHNrZDJ5ZWk/cm9tNWRhc2lzMzBkYjBBJV8q';

export default defineComponent({
  name: 'RadiantMediaPlayer',
  setup() {
    let player: VideoPlayer;
    onMounted(() => {
      // When Radiant Media Player library is loaded we init our player
      const handlePlayerLoaded = async () => {
        const { data } = await createLicenseToken({ videoUrl: DEFAULT_VIDEO_URL });
        const settings: Parameters<InstanceType<typeof RadiantMP>['init']>[0] = {
          licenseKey: RADIANT_MEDIA_LICENSE,
          autoHeightMode: true,
          autoHeightModeRatio: 1.77,
          autoplay: true,
          src: {
            fps: DEFAULT_VIDEO_URL,
          },
          fpsDrm: {
            certificatePath: FAIR_PLAY_CERT_URL,
            // @ts-ignore
            prepareCertificate,
            processSpcPath: LICENSE_URL,
            licenseRequestHeaders: [
              {
                name: 'pallycon-customdata-v2',
                value: data.token,
              },
              {
                name: 'Content-type',
                value: 'application/x-www-form-urlencoded',
              },
            ],
            extractContentId,
          },
        };

        player = new RadiantMP('player');
        player.init(settings);
      };

      // If Radiant Media Player library fails to load we do something
      const handleError = (error: ErrorEvent) => {
        console.error('could not load Radiant Media Player JavaScript file', error);
      };

      // We create our script tag to async load Radiant Media Player library and append it to <head>
      const rmpScript = document.createElement('script');
      rmpScript.src = 'https://cdn.radiantmediatechs.com/rmp/8.0.5/js/rmp.min.js';
      rmpScript.async = true;
      rmpScript.addEventListener('load', handlePlayerLoaded);
      rmpScript.addEventListener('error', handleError);
      document.head.appendChild(rmpScript);
    });

    onUnmounted(() => {
      player?.destroy();
    });

    return {};
  },
});
</script>

<style>
</style>
