<template>
  <div ref="playerContainerRef">
    <video
      id="video"
      ref="playerRef"
      muted
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  onUnmounted,
} from 'vue';
import type { Player } from 'shaka-player';
import { createLicenseToken } from '@/utils';
import { FAIR_PLAY_CERT_URL, LICENSE_URL, DEFAULT_VIDEO_URL } from '@/constants';

import 'shaka-player/dist/controls.css';

type Shaka = typeof import('shaka-player');

export type VideoPlayer = Player;

export default defineComponent({
  name: 'ShakaPlayer',
  setup() {
    const playerRef = ref<HTMLVideoElement | null>(null);
    const playerContainerRef = ref<HTMLElement | null>(null);

    let player: Player;
    onMounted(async () => {
      // @ts-ignore
      const shaka: Shaka = await import('shaka-player/dist/shaka-player.ui.js');
      shaka.polyfill.installAll();

      player = new shaka.Player(playerRef.value);
      const ui = new shaka.ui.Overlay(
        player,
        playerContainerRef.value!,
        playerRef.value!,
      );
      ui.getControls();

      // console.log('UIs', Object.keys(shaka.ui));

      function getFairPlayCert() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', FAIR_PLAY_CERT_URL, false);
        xhr.send();

        return shaka.util.Uint8ArrayUtils.fromBase64(xhr.responseText);
      }

      const playerConfig: shaka.extern.PlayerConfiguration = {
        drm: {
          servers: {
            'com.apple.fps': LICENSE_URL,
          },
          advanced: {
            // @ts-ignore
            'com.apple.fps': {
              serverCertificate: getFairPlayCert(),
            },
          },
          // initDataTransform(initData) {
          //   const skdUri = shaka.util.StringUtils.fromBytesAutoDetect(initData);
          //   // console.log(`skdUri : ${skdUri}`);
          //   const contentId = skdUri.substring(skdUri.indexOf('skd://') + 6);
          //   // console.log('contentId : ', contentId);
          //   const cert = player.drmInfo()!.serverCertificate;
          //   return shaka.util.FairPlayUtils.initDataTransform(initData, contentId, cert);
          // },
        },
      };

      const { data } = await createLicenseToken({ videoUrl: DEFAULT_VIDEO_URL });
      player.getNetworkingEngine()!.registerRequestFilter((type, request) => {
        if (type === shaka.net.NetworkingEngine.RequestType.LICENSE) {
          const originalPayload = new Uint8Array(request.body as ArrayBuffer);
          const base64Payload = shaka.util.Uint8ArrayUtils.toBase64(originalPayload);
          const params = `spc=${encodeURIComponent(base64Payload)}`;

          request.body = shaka.util.StringUtils.toUTF8(params);
          request.headers['pallycon-customdata-v2'] = data.token;
        }
      });

      player.configure(playerConfig);

      await player.load(DEFAULT_VIDEO_URL);
      console.log('The video has now been loaded!');
    });

    onUnmounted(() => {
      player.destroy();
    });

    return {
      playerRef,
      playerContainerRef,
    };
  },
});
</script>

<style>
</style>
