<template>
  <div>
    <video
      ref="playerRef"
      class="video-js vjs-big-play-centered vjs-show-big-play-button-on-pause vjs-fluid"
      muted
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  ref,
} from 'vue';
import videojs, { type VideoJsPlayer } from 'video.js';
import {
  base64DecodeUint8Array, base64EncodeUint8Array, arrayToString, createLicenseToken,
} from '@/utils';
import { DEFAULT_VIDEO_URL, FAIR_PLAY_CERT_URL, LICENSE_URL } from '@/constants';
import 'videojs-contrib-eme';

import 'video.js/dist/video-js.css';

export type VideoPlayer = VideoJsPlayer & {
  eme?(): void
};

export default defineComponent({
  name: 'VideojsPlayer',
  setup() {
    const playerRef = ref<HTMLVideoElement | null>(null);

    let player: VideoPlayer;
    onMounted(async () => {
      player = videojs(
        playerRef.value!,
        {
          controls: true,
          autoplay: true,
        },
        async () => {
          // eme need to init first then reset source
          player.eme!();

          const { data } = await createLicenseToken({ videoUrl: DEFAULT_VIDEO_URL });
          const playerConfig = {
            src: DEFAULT_VIDEO_URL,
            type: 'application/x-mpegurl',
            keySystems: {
              'com.apple.fps.1_0': {
                getCertificate(_emeOptions: any, callback: any) {
                  videojs.xhr({
                    url: FAIR_PLAY_CERT_URL,
                    method: 'GET',
                  }, (err, _response, responseBody) => {
                    if (err) {
                      callback(err);
                      return;
                    }
                    callback(null, base64DecodeUint8Array(responseBody));
                  });
                },
                getContentId(_emeOptions: any, initData: any) {
                  const contentId = arrayToString(initData);
                  return contentId.substring(contentId.indexOf('skd://') + 6);
                },
                getLicense(_emeOptions: any, _contentId: any, keyMessage: any, callback: any) {
                  videojs.xhr({
                    url: LICENSE_URL,
                    method: 'POST',
                    responseType: 'text',
                    body: `spc=${base64EncodeUint8Array(keyMessage)}`,
                    headers: {
                      'Content-type': 'application/x-www-form-urlencoded',
                      'pallycon-customdata-v2': data.token,
                    },
                  }, (err, _response, responseBody) => {
                    if (err) {
                      callback(err);
                      return;
                    }
                    callback(null, base64DecodeUint8Array(responseBody));
                  });
                },
              },
            },
          };

          player.src(playerConfig);

          player.play();
        },
      );
    });

    onUnmounted(() => {
      player?.dispose();
    });

    return {
      playerRef,
    };
  },
});
</script>
