<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
</script>

<template>
  <h1>DRM Video Player Debugger</h1>
  <p>> Right now only support Mac & IOS Safari</p>

  <header>
    <nav class="nav">
      <RouterLink to="/">
        Viodejs
      </RouterLink>
      <RouterLink to="/theoplayer">
        THEOPlayer
      </RouterLink>
      <RouterLink to="/shaka-player">
        Shaka Player
      </RouterLink>
      <RouterLink to="/bitmovin-player">
        Bitmovin Player
      </RouterLink>
      <RouterLink to="/radiant-media-player">
        Radiant Media Player
      </RouterLink>
    </nav>
  </header>

  <RouterView />
</template>

<style scoped>
.nav {
  text-align: center;
  margin: 1rem;
}

.nav a.router-link-exact-active {
  color: var(--color-text);
}

.nav a.router-link-exact-active:hover {
  background-color: transparent;
}

.nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

.nav a:first-of-type {
  border: 0;
}
</style>
